{% extends 'base.html' %}
{% block content %}
<div class="card shadow">
    <div class="card-body">
        <h2 class="card-title mb-4">Регистрация участника</h2>

        <form method="post">
                {% csrf_token %}
                {% if event %}
                    <input type="hidden" name="event" value="{{ event.id }}">
                {% endif %}
            <!-- Поля формы -->
            <div class="mb-3">
                <label class="form-label">Имя</label>
                {{ form.name }}
                {% if form.name.errors %}
                    <div class="text-danger">{{ form.name.errors }}</div>
                {% endif %}
            </div>

            <div class="mb-3">
                <label class="form-label">Email</label>
                {{ form.email }}
                {% if form.email.errors %}
                    <div class="text-danger">{{ form.email.errors }}</div>
                {% endif %}
            </div>

            <!-- Кнопки -->
            <div class="mt-4">
                <button type="submit" class="btn btn-primary">Зарегистрировать</button>
                <a href="{% url 'event_list' %}" class="btn btn-secondary">Отмена</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% if event %}
    <input type="hidden" name="event" value="{{ event.id }}">
{% endif %}